<div class="row">
	<h1>Edit user level</h1>
	<%= simple_form_for @user do |f| %>
		<%= f.error_notification %>
		<%= f.input :email, label: "Owner", :readonly => true %>
		<%= f.input :judge %>
		<%= f.button :submit %>
	<% end %>
</div>