    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Ice Cream Cup', root_path, :class => 'navbar-brand' %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="navbar-form navbar-right">
            <% if user_signed_in? %>
              
              <ul class="nav navbar-nav">
                <!-- <li role="presentation" style="color:white"><a href="#">Hi <strong><%= current_user.email %></strong></a></li> -->
                <li role="presentation"><%= link_to 'Edit profile', edit_user_registration_path %></li>
                <li role="presentation"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
              </ul>              
            <% else %>
              <%= link_to 'Sign up', new_user_registration_path, :class => 'btn btn-large btn-primary' %>
              <%= link_to 'Login', new_user_session_path, :class => 'btn btn-large btn-success' %>
            <% end %>
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p class="notice"><%= notice %></p>