<!DOCTYPE html>
<html>
<head>
  <title>Ice Cream Cup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%=
			#call partial view, use render and the file location 
			render 'layouts/header' 
		%>
		<%= yield %>
		<%= 
			# render 'layouts/footer' 
		%>
	</div> <!-- /container -->
</body>
</html>
